opencv-python==4.11.0.86
numpy==1.26.4
pillow==10.2.0
face-recognition==1.3.0
pytesseract==0.3.13
torch==2.2.0
facenet-pytorch==2.6.0

# face anti-spoofing specific
easydict==1.13
tqdm==4.67.1
torchvision==0.17.0
tensorboardX==2.6.2.2